@model HFWebsiteA7.Models.DinnerSession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DinnerSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discriminator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discriminator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
