@model HFWebsiteA7.Models.AdminRestaurant

@using ((Html.BeginForm("CreateAdminRestaurant", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Restaurant Name</h4>
                        @Html.EditorFor(model => model.Restaurant.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Restaurant.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Address</h5>
                                @Html.DropDownListFor(m => Model.Restaurant.LocationId, Model.LocationList, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Restaurant.LocationId, "", new { @class = "text-danger" })                            
                            </div>
                            <div class="col-md-6">
                                <h5>Cuisines</h5>
                                @Html.DropDownListFor(m => Model.FoodTypeIdList, Model.FoodTypeSelectList, new {  @class = "form-control", multiple = "true" })
                                @Html.ValidationMessageFor(model => model.FoodTypeSelectList, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Description</h4>
                        @Html.TextAreaFor(model => model.Restaurant.Description ,new { htmlAttributes = new { @class = "form-control" }, rows = "5", cols = "40", style = "overflow: hidden;" })
                        @Html.ValidationMessageFor(model => model.Restaurant.Description    , "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Sessions</h5>
                                @Html.EditorFor(model => model.Sessions, new { htmlAttributes = new { @class = "form-control" }, min = "0" })
                                @Html.ValidationMessageFor(model => model.Sessions, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <h5>Start Time</h5>
                                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <h5>Duration</h5>
                                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5 style="">Seats</h5>
                                @Html.EditorFor(model => model.Restaurant.Seats, new { htmlAttributes = new { @class = "form-control" }, min="0" })
                                @Html.ValidationMessageFor(model => model.Restaurant.Seats, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <h5>Stars</h5>
                                @Html.EditorFor(model => model.Restaurant.Stars, new { htmlAttributes = new { @class = "form-control" }, min = "0", max = "5" })
                                @Html.ValidationMessageFor(model => model.Restaurant.Stars, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <h5>Price</h5>
                                @Html.EditorFor(model => model.Restaurant.Price, new { htmlAttributes = new { @class = "form-control" }, min = "0,00" })
                                @Html.ValidationMessageFor(model => model.Restaurant.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <h5>Price (12-)</h5>
                                @Html.EditorFor(model => model.Restaurant.ReducedPrice, new { htmlAttributes = new { @class = "form-control" }, min = "0,00" })
                                @Html.ValidationMessageFor(model => model.Restaurant.ReducedPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Image</h4>
                <input type="file" name="File" id="File" accept="image/jpeg, image/png,image/jpg" />
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-1">
                <div style="margin-top: 10px; width: 50%; margin-left: auto; margin-right:auto">
                    <input type="submit" value="Save" class="mLinkButton" />

                </div>
            </div>
        </div>
    </div>
}
