@model HFWebsiteA7.ViewModels.ReservationViewModel


<div class="container">
    <h2>Ticket information - @Html.DisplayFor(x => x.Day) </h2>
    <p>There are multiple types of tickets available for Jazz@Patronaat. You can buy one of the 2 types of tickets: passe-partout tickets or a single tickets for a concert.</p>

    <h3>Passe-partout tickets</h3>
    <p>A passe-partout ticket for a day cost €35. If you want a passe-partout ticket for Thursday, Friday and Saturday the price is €80.</p>

    <h3>Regular ticket</h3>
    <p>A regular ticket cost between €10 and €15. It depends on which hall the artists performs.</p>

    @if (!Model.Day.Equals("Sunday"))
    {
        <h3>Insert amount of pass-partout tickets</h3>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-cm-6">
            <form>
                @if (!Model.Day.Equals("Sunday"))
                {
                    <table class="table">
                        <tr>
                            <th>
                                <b>Tickets</b>
                            </th>
                            <th>
                                <b>Type</b>
                            </th>
                            <th>
                                <b>Price</b>
                            </th>
                        </tr>

                        <tr>
                            <td style="width: 8%">
                                @Html.EditorFor(t => t.PassParToutDay.Count, new { htmlAttributes = new { @class = "form-control left-border-none", @min = "0", @width = "20px", @placeholder = 0 } })
                                @Html.HiddenFor(t => t.PassParToutDay.Day)
                            </td>
                            <td>
                                <p>Passe-partout for @Html.DisplayFor(x => x.Day)</p>
                            </td>
                            <td>
                                €35,00
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 8%">
                                @Html.EditorFor(t => t.PassParToutWeek.Count, new { htmlAttributes = new { @class = "form-control left-border-none", @min = "0", @width = "20px", @placeholder = 0 } })
                                @Html.HiddenFor(t => t.PassParToutWeek.Type)
                            </td>
                            <td>
                                <p>Passe-partout for Thursday, Friday and Saturday</p>
                            </td>
                            <td>
                                €80,00
                            </td>
                        </tr>

                    </table>
                }
                <h3>Insert amount of regular tickets</h3>
                <div class="form-group col-cm-6">
                    <table class="table">
                        <tr>
                            <th>
                                <b>Tickets</b>
                            </th>
                            <th>
                                <b>Artist</b>
                            </th>
                            <th>
                                <b>Price per ticket</b>
                            </th>
                            <th>
                                <b>Date & Time</b>
                            </th>
                            <th>
                                <b>Location</b>
                            </th>
                            <th>
                                <b>Available seats</b>
                            </th>
                        </tr>
                        @{
                            string bgColor = "white";
                            for(int i = 0; i < Model.ConcertTickets.Count; i++)
                            {
                                if (Model.ConcertTickets[i].Selected)
                                {
                                    bgColor = "burlywood";
                                }
                                else
                                {
                                    bgColor = "white";
                                }
                                @Html.HiddenFor(x => x.Day)
                                @Html.HiddenFor(t => t.ConcertTickets[i].Ticket.EventId)
                                <tr style="background-color : @bgColor">
                                    <td style="width: 8%">
                                        @if (Model.Day.Equals("Sunday"))
                                        {
                                            @Html.EditorFor(t => t.ConcertTickets[i].Ticket.Count, new { htmlAttributes = new { @class = "form-control left-border-none", @min = "0", @width = "20px", @placeholder = 0 } })
                                        }
                                        else
                                        {
                                            @Html.EditorFor(t => t.ConcertTickets[i].Ticket.Count, new { htmlAttributes = new { @class = "form-control left-border-none", @min = "0", @max = Model.ConcertTickets[i].Concert.AvailableSeats, @width = "20px", @placeholder = 0 } })
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => t.ConcertTickets[i].Concert.Band.Name)
                                    </td>
                                    <td>
                                        €@Html.DisplayFor(t => t.ConcertTickets[i].Concert.Hall.Price)
                                    </td>
                                    <td>
                                        @Model.ConcertTickets[i].Concert.Day.Date.ToString("dddd dd-MM-yy") | 
                                        @Model.ConcertTickets[i].Concert.StartTime.ToString("HH:mm") - 
                                        @{ 
                                            Model.ConcertTickets[i].Concert.StartTime += TimeSpan.FromHours((double)Model.ConcertTickets[i].Concert.Duration); 
                                        } 
                                        @Model.ConcertTickets[i].Concert.StartTime.ToString("H:mm")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(t => t.ConcertTickets[i].Concert.Location.Name) - @Html.DisplayFor(t => t.ConcertTickets[i].Concert.Hall.Name)
                                    </td>
                                    <td>
                                        @if (Model.Day.Equals("Sunday"))
                                        {
                                            <p>-</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(t => t.ConcertTickets[i].Concert.AvailableSeats)
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <div>
                        <div class="col-sm-2" style="margin-top:18px">
                            @Html.ActionLink("Terug naar overzicht", "ConcertOverview", "Concerts", new { dayId = Model.ConcertTickets[1].Concert.Day.Id }, new { @class = "mLinkButton" })
                        </div>
                        <div class="form-group col-sm-offset-8 col-sm-2">
                            <input type="submit" value="Put into basket" class="mLinkButton" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
     }
</div>