@model HFWebsiteA7.Models.JazzViewModel

@{
    ViewBag.Title = "Saturday";
}

<div class="container">
    <div class="col-sm-6">
        <h2>Jazz@Patronaat - Saturday</h2>
        <p>On Saturday you have got a choice of 6 different jazz bands. The 6 bands are performing over 2 Halls in the Patronaat.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/DetailPage/middleImageJazzThursday.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/DetailPage/rightImageJazzThursday.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>

    <div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
        <div class="col-sm-6">
            <img class="" src="~/Content/Content-images/JazzImages/DetailPage/JazzInformationThursday.jpg" alt="JazzInformationImage" width="515" height="66">
        </div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
    </div>

    <div>
        <div class="col-sm-6">
            <h3 style="text-align: center">Main Hall</h3>

        </div>
        <div class="col-sm-6">
            <h3 style="text-align: center">Third Hall</h3>
        </div>
    </div>

    @{
        var festivalDay = Model.FestivalDays.FirstOrDefault(x => x.Day.Equals("Saturday"));

        <div class="row">
            <div class="column col-sm-6">
                @foreach (var concert in festivalDay.MainConcertList)
                {
                    <div style="min-height: 475px">
                        <img src="~/Content/Content-images/JazzImages/DetailPage/PlaceHolderImageConcert.jpg" alt="JazzInformationImage" width="510" height="150">
                        <h3>@concert.Band.Name</h3>
                        <p style="margin-top: 15px; max-width: 505px; min-height: 150px">
                            @concert.Band.Description
                            <div>
                                <b>Time:</b> @concert.StartTime.ToString("H:mm")
                            </div>
                            <div>
                                <b>Price:</b> €@concert.Hall.Price,00
                            </div>
                            <div style="margin-top: 10px">
                                @Html.ActionLink("Book now", "Reservation", "Concerts", new { Day = concert.Day.Name }, new { @class = "mLinkButton" })
                            </div>                        </p>
                    </div>
                }
            </div>
            <div class="column col-sm-6">
                @foreach (var concert in festivalDay.SecondConcertList)
                {
                    <div style="min-height: 475px">
                        <img src="~/Content/Content-images/JazzImages/DetailPage/PlaceHolderImageConcert.jpg" alt="JazzInformationImage" width="510" height="150">
                        <h3>@concert.Band.Name</h3>
                        <p style="margin-top: 15px; max-width: 505px; min-height: 150px">
                            @concert.Band.Description
                            <div>
                                <b>Time:</b> @concert.StartTime.ToString("H:mm")
                            </div>
                            <div>
                                <b>Price:</b> €@concert.Hall.Price,00
                            </div>
                            <div style="margin-top: 10px">
                                @Html.ActionLink("Book now", "Reservation", "Concerts", new { Day = concert.Day.Name }, new { @class = "mLinkButton" })
                            </div>                        </p>
                    </div>
                }
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Terug naar Jazz overzicht", "Index")
    </div>
</div>
