@using HFWebsiteA7.Models
@using HFWebsiteA7.ViewModels
@model HFWebsiteA7.ViewModels.AdminEventEditViewModel

@{
    ViewBag.Title = "AdminEventEdit";
}


<div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-2">
            <a href=@Url.Action("AdminSelection", "Admin") class="mLinkButton" style="margin-top:20px">Back to admin overview</a>
        </div>
    </div>
    <hr />
    <h1>@Model.EventType.ToString()</h1>


    <button class="mLinkButton" onclick="showDiv()" id="newButton" style="margin-left:15px; width: 100px">New</button>

    <div class="container">


        <div class="container-fluid" style="display:none" id="divCreate">
            @if (Model.EventType.Equals(EventTypeEnum.Bands))
            {
                @Html.Partial("PartialViews/CreateBand", new AdminBand());
            }
            else if (Model.EventType.Equals(EventTypeEnum.Locations))
            {
                @Html.Partial("PartialViews/CreateLocation", new Location());
            }
            else if (Model.EventType.Equals(EventTypeEnum.Concerts))
            {
                @Html.Partial("PartialViews/CreateConcert", Model.AdminConcert);
            }
            else if (Model.EventType.Equals(EventTypeEnum.Restaurants))
            {
                @Html.Partial("PartialViews/CreateAdminRestaurant", Model.AdminRestaurant);
            }
        </div>
        @if (Model.EventType.Equals(EventTypeEnum.Restaurants))
        {
            @Html.Partial("PartialViews/AdminRestaurant", Model.ObjectList.Cast<AdminRestaurant>().ToList());
        }
        else if (Model.EventType.Equals(EventTypeEnum.Concerts))
        {
            @Html.Partial("PartialViews/Concert", Model.ObjectList.Cast<Concert>().ToList());
        }
        else if (Model.EventType.Equals(EventTypeEnum.Bands))
        {
            @Html.Partial("PartialViews/Band", Model.ObjectList.Cast<Band>().ToList());
        }
        else if (Model.EventType.Equals(EventTypeEnum.Locations))
        {
            @Html.Partial("PartialViews/Location", Model.ObjectList.Cast<Location>().ToList());
        }
    </div>
</div>

<dialog id="addDialog">
    <div style="margin:10px">
        @if (Model.EventType.Equals(EventTypeEnum.Bands))
        {
            @Html.Partial("PartialViews/EditBand");
        }
        else if (Model.EventType.Equals(EventTypeEnum.Locations))
        {
            @Html.Partial("PartialViews/EditLocation");
        }
        else if (Model.EventType.Equals(EventTypeEnum.Concerts))
        {
            @Html.Partial("PartialViews/EditConcert", Model.AdminConcert);
        }
        else if (Model.EventType.Equals(EventTypeEnum.Restaurants))
        {
            @Html.Partial("PartialViews/EditAdminRestaurant", Model.AdminRestaurant);
        }


    </div>

</dialog>
<dialog id="removeDialog" style="padding:10px">
    <div class="row">
        <h3 style="margin-left:5px; margin-right:5px">
            Do you really want to remove the band?
        </h3>
    </div>
    <div class="row" style="margin-left: 20px">
        <div class="col-md-4">
            <button onclick="removeBand()" class="mLinkButton">Remove</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button onclick="cancelRemoveDialog()" class="mLinkButton">Cancel</button>
        </div>
    </div>
</dialog>

<div id="snackbar">The data has been saved</div>

<script type="text/javascript" src="~/Scripts/AdminScript.js"></script>
