@using HFWebsiteA7.Models
@using HFWebsiteA7.ViewModels
@model HFWebsiteA7.ViewModels.AdminEventEditViewModel

@{
    ViewBag.Title = "AdminEventEdit";
}

<a href=@Url.Action("Index", "Admin") class="mLinkButton">Back to admin overview</a>
<div>
    <h1>Choose an event:</h1>
    <select>
        <option value="Dinner">Dinner in Haarlem</option>
        <option value="Jazz">Jazz@Patronaat</option>
    </select>


    <div class="container">
        <button class="mLinkButton" onclick="showDiv()">Create new band</button>
        <div class="container-fluid" style="display:none" id="divCreate">

            <hr />   
                @if (Model.EventType.Equals(EventTypeEnum.Band))
                {
                    @Html.Partial("PartialViews/EditBand", Model.AdminBand);
                }
        </div>
        @if (Model.EventType.Equals(EventTypeEnum.Dinner))
        {
            @Html.Partial("PartialViews/AdminRestaurant", Model.ObjectList.Cast<AdminRestaurant>().ToList());
        }
        else if (Model.EventType.Equals(EventTypeEnum.Concert))
        {
            @Html.Partial("PartialViews/Concert", Model.ObjectList.Cast<Concert>().ToList());
        }
        else if (Model.EventType.Equals(EventTypeEnum.Band))
        {
            @Html.Partial("PartialViews/Band", Model.ObjectList.Cast<Band>().ToList());
        }
    </div>
    </div>

<dialog id="favDialog">
    @Html.Partial("PartialViews/EditBand", Model.AdminBand);
</dialog>
    <script type="text/javascript">        
        function showDiv() {
            if (document.getElementById('divCreate').style.display == "none") {
                document.getElementById('divCreate').style.display = "block";
            } else {
                document.getElementById('divCreate').style.display = "none";
            }
        }

        function showDialog(adminBandId) {
            console.log("it's working");
            console.log(adminBandId);
            $.ajax({
                url: '/Admin/Test',
                type: 'GET',
                success: function (html) {
                    alert(html);
                },
                error: function (error) {
                    $(that).remove();
                    DisplayError(error.statusText);
                }
            });
            }
    </script>
