@model HFWebsiteA7.Models.DinnerAdminViewModel
@{
    ViewBag.Title = "Dinner";
}

<h2>Dinner</h2>

@foreach (var restaurant in Model.restaurantList)
{
    <div>
        <h3>@Html.DisplayFor(item => restaurant.Location.Name)</h3>
        <h4>Stars</h4>
        <p>@Html.DisplayFor(item => restaurant.Stars)</p>
        <h4>Description</h4>
        <p>@Html.DisplayFor(item => restaurant.Description)</p>
        <h4>Addresss</h4>
        <p>
            @Html.DisplayFor(item => restaurant.Location.Street)<br />
            @Html.DisplayFor(item => restaurant.Location.HouseNumber)<br />
            @Html.DisplayFor(item => restaurant.Location.City)
        </p>
        <h4>Seats</h4>
        <p>@Html.DisplayFor(item => restaurant.Seats)</p>
        <h4>Price</h4>
        <p>@Html.DisplayFor(item => restaurant.Price)</p>
        <h4>Children Price (12-)</h4>
        <p>@Html.DisplayFor(item => restaurant.ReducedPrice)</p>
    </div>
}