@model HFWebsiteA7.ViewModels.BasketViewModel
@using HFWebsiteA7.Models

@{
    ViewBag.Title = "Basket";
}

@section Banner {
    <div style="margin-top: 50px; background-image: url(../../Content/Content-images/Home/IndexBanner.jpg); background-repeat: round; height: 300px"></div>
}

<div class="container">
    <div class="col-sm-6">
        <h2>Your shopping</h2>
        <p>On this page you can view and edit the items in your basket.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/middleImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/rightImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>

    <div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
        <div class="col-sm-6">
            <img class="" src="~/Content/Content-images/Home/BasketInformation.jpg" alt="JazzInformationImage" width="515" height="66">
        </div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    <b>Tickets</b>
                </th>
                <th>
                    <b>Event</b>
                </th>
                <th>
                    <b>Date and time</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
            </tr>
            @{
                if (Model.Tickets != null)
                {
                    foreach (object ticket in Model.Tickets)
                    {
                        if (ticket is ConcertTicket)
                        {
                            var t = (ConcertTicket)ticket;
                            <tr>
                                <td>
                                    @t.Ticket.Count
                                </td>
                                <td>
                                    @t.Concert.Band.Name
                                </td>
                                <td>
                                    @t.Concert.Day.Date.ToString("dd/MM/yy")
                                </td>
                                <td>
                                    @{ var Price = t.Concert.Hall.Price * t.Ticket.Count;} €@Price,00
                                </td>
                            </tr>
                        }
                    }
                }

                if (Model.ParToutWeek != null)
                {
                    <tr>
                        <td>
                            @Model.ParToutWeek.count
                        </td>
                        <td>
                            Pass par Tout for all concerts
                        </td>
                        <td>
                            The whole week, all concerts
                        </td>
                        <td>
                            @{ var Price = 80 * Model.ParToutWeek.count;} €@Price,00
                        </td>
                    </tr>
                }

                if (Model.Partoutdays != null)
                {
                    foreach (PassParToutDay parToutDay in Model.Partoutdays)
                    {
                        <tr>
                            <td>
                                @parToutDay.Count
                            </td>
                            <td>
                                Pass par tout for @parToutDay.Day
                            </td>
                            <td>
                                All concerts on @parToutDay.Day
                            </td>
                            <td>
                                @{ var Price = 35 * parToutDay.Count;} €@Price,00
                            </td>
                        </tr>
                    }
                }

            }
        </table>
    </div>
    
    <div>
        <h4>You could also:</h4>
    </div>
    <div>
        <div class="col-sm-3" style="margin-top: 500px">
            <div>
                <h4>Go to dinner</h4>
            </div>
        </div>
    </div>

</div>