@model HFWebsiteA7.ViewModels.BasketViewModel
@using HFWebsiteA7.Models

@{
    ViewBag.Title = "Basket";
}

@section Banner {
    <div style="margin-top: 50px; background-image: url(../../Content/Content-images/Home/IndexBanner.jpg); background-repeat: round; height: 300px"></div>
}

<div class="container">
    <div class="col-sm-6">
        <h2>Your shopping</h2>
        <p>On this page you can view and edit the items in your basket.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/middleImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/rightImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>

    <div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
        <div class="col-sm-6">
            <img class="" src="~/Content/Content-images/Home/BasketInformation.jpg" alt="JazzInformationImage" width="515" height="66">
        </div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    <b>Tickets</b>
                </th>
                <th>
                    <b>Event</b>
                </th>
                <th>
                    <b>Date and time</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
            </tr>
            @{
                if(Model != null)
                {
                    if (Model.Tickets != null)
                    {
                        foreach (object ticket in Model.Tickets)
                        {
                            if (ticket is ConcertTicket)
                            {
                                var t = (ConcertTicket)ticket;
                                <tr>
                                    <td>
                                        @t.Ticket.Count
                                    </td>
                                    <td>
                                        @t.Concert.Band.Name
                                    </td>
                                    <td>
                                        @t.Concert.Day.Name -  @t.Concert.Day.Date.ToString("dd/MM/yy")
                                    </td>
                                    <td>
                                        @{ var Price = t.Concert.Hall.Price * t.Ticket.Count;} €@Price,00
                                    </td>
                                </tr>
                            }
                        }
                    }

                    if (Model.ParToutWeek != null)
                    {
                        <tr>
                            <td>
                                @Model.ParToutWeek.count
                            </td>
                            <td>
                                Pass par Tout for all concerts
                            </td>
                            <td>
                                The whole week, all concerts
                            </td>
                            <td>
                                @{ var Price = 80 * Model.ParToutWeek.count;} €@Price,00
                            </td>
                        </tr>
                    }

                    if (Model.Partoutdays != null)
                    {
                        foreach (PassParToutDay parToutDay in Model.Partoutdays)
                        {
                            <tr>
                                <td>
                                    @parToutDay.Count
                                </td>
                                <td>
                                    Pass par tout for @parToutDay.Day
                                </td>
                                <td>
                                    All concerts on @parToutDay.Day
                                </td>
                                <td>
                                    @{ var Price = 35 * parToutDay.Count;} €@Price,00
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
    
    <hr style="margin-top: 40px" />
    <div>
        <h4 style="font-size: 15px">Don't forget to checkout our other concerts and make your day complete with nice dinner at one of the participating restaurants:</h4>
    </div>
    <div>
        <div class="col-sm-5" style="align-content: center; border:1px solid black; padding-bottom: 20px">
            <div>
                <h4>Our concert overview</h4>
            </div>

            <img src="~/Content/Content-images/Home/HomeImage1.jpg" alt="JazzInformationImage" width="250" height="180">
            <h3>Jazz@Patronaat</h3>
            <p style="min-height: 120px">Over 18 band are performing at Jazz@Patronaat. The first 3 days are in the Patronaat spread over 2 halls, on Sunday this event will take place at the Grote Markt in the centre of Haarlem.</p>
            <a href="@Url.Action("Index", "Concerts")" class="mLinkButton">Look at concert selection!</a>

        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5" style="align-content: center; border:1px solid black; padding-bottom: 20px">
            <div>
                <h4>Our selection of restaurants</h4>
            </div>

            <img src="~/Content/Content-images/Home/HomeImage2.jpg" alt="JazzInformationImage" width="250" height="180">
            <h3>Dinner in Haarlem</h3>
            <p style="min-height: 120px">If you like food then Dinner in Haarlem will be something you like. With special menus in eight different restaurants, all located in the city center. </p>
            <a href="@Url.Action("Index", "Restaurants")" class="mLinkButton">Look at participation restaurants!</a>

        </div>
    </div>

</div>